.logomarca{
    background-color: black;
    text-align: center;

}

.imagem-logo{
    width: 38%;
}


.principal{
    background-color:red;
    text-align: center;
    padding: 15px;
}

h1{color: blueviolet;}

p{font-size: 20px;
    color:white}